<p class="child-page-title">
  Learn {{(skill | async)?.skill_name}}
  {{getSkillName()}} from:
</p>
<div class="row">
  <div class="user" *ngFor='let user of users | async | userfilter:skillName'>
    <div (click)=goToUserDetail(user) class="user-summary">
      <div class="image-wrap" [ngStyle]="{'background-image': 'url(' + user.photo + ')'}">
      </div>
      <div class="user-content">
        <span class="glyphicon pull-left glyphicon-star-empty" aria-hidden="true"></span>
        <a>{{user.username}}</a>
        <span class="glyphicon pull-right glyphicon-send" aria-hidden="true"></span>
        <p class="occupation">{{user.occupation}}</p>
      </div>
    </div>
  </div>
</div>
