<p class="child-page-title">
  {{(skill | async)?.skill_name}}
</p>

<div class="row">
  <div class="user" *ngFor='let user of users | async'>
    <div (click)=goToUserDetail(user) class="col-sm-4 user-summary">
      <span class="glyphicon pull-left glyphicon-star-empty" aria-hidden="true"></span>
      <a>{{user.username}}</a>
      <span class="glyphicon pull-right glyphicon-send" aria-hidden="true"></span>
      <br>
      <div class="image-wrap" [ngStyle]="{'background-image': 'url(' + user.photo + ')'}">
      </div>
      <p class="occupation">{{user.occupation}}</p>
    </div>
  </div>
</div>
