/* ------------------------- Navigation Bar Styles -------------------------- */

.navbar {
  border-radius: 0px;
  background-color: #000000;
}

@font-face {
  font-family: 'brand';
  src: url('./assets/fonts/Destrukt.ttf')
}

#brand.navbar-brand {
  text-decoration: none;
  font-size: 35px;
  font-family: 'brand', sans-serif;
  color: #E5E338;
}
