/* You can add global styles to this file, and also import other style files */

img {
  max-width: 229px;
}


/* ------------------------------ Body Styles ------------------------------- */


.container {
  width: 100%;
}

/* ----------------------------- Footer Styles ------------------------------ */

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background: #333333;
}

#footer-text {
  color: #ffffff;
  text-align: center;
  padding-top: 9px;
}
