/* You can add global styles to this file, and also import other style files */

img {
  max-width: 229px;
}

/* ------------------------- Navigation Bar Styles -------------------------- */

.navbar {
  border-radius: 0px;
}

#brand {
  text-decoration: none;
  font-size: 40px;
  font-family: sans-serif;
  color: #f0ad4e;
}

/* ------------------------------ Body Styles ------------------------------- */



/* ----------------------------- Footer Styles ------------------------------ */

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background: #333333;
}

#footer-text {
  color: #ffffff;
  text-align: center;
  padding-top: 9px;
}
